html {
  scroll-behavior: smooth;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #e65f78;
}
hr.light {
  border-color: #fff;
}
.page-section {
  padding: 8rem 0;
}

/* nav */
#mainNav {
  box-shadow: none;
  background-color: transparent;
  transition: background-color 0.2s ease;
}
#mainNav .navbar-brand {
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
  color: #e65f78;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #e65f78 !important;
}
#mainNav.navbar-scrolled {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
#mainNav.navbar-scrolled .navbar-brand {
  color: #212529;
}
@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #e65f78;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #e65f78;
  }
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* home */
header.masthead {
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(38, 40, 44, 0.8) 0%, rgba(38, 40, 44, 0.8) 100%),
    url('/images/header-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header.masthead h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}
.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}
.btn-home {
  padding: 15px 32px;
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  font-weight: 700;
  transition: all 0.5s;
  letter-spacing: 0.6px;
  color: #fff;
  box-shadow: none !important;
  text-transform: uppercase;
  outline: none !important;
  border-radius: 30px;
  border: 2px solid #f5f5f5;
}
.header-name {
  font-size: 54px;
  font-family: 'Montserrat', sans-serif;
}
/* .header-desc {
  max-width: 500px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.75) !important;
} */
/* about */
.bg-primary {
  background-color: #26282b !important;
}

/* skills */
.services-boxes {
  border: 1px solid #353941;
  font-size: 44px;
}

/* portfolio */
#portfolio .container-fluid,
#portfolio .container-sm,
#portfolio .container-md,
#portfolio .container-lg,
#portfolio .container-xl {
  max-width: 1920px;
}
#portfolio .container-fluid .portfolio-box,
#portfolio .container-sm .portfolio-box,
#portfolio .container-md .portfolio-box,
#portfolio .container-lg .portfolio-box,
#portfolio .container-xl .portfolio-box {
  position: relative;
  display: block;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption,
#portfolio .container-sm .portfolio-box .portfolio-box-caption,
#portfolio .container-md .portfolio-box .portfolio-box-caption,
#portfolio .container-lg .portfolio-box .portfolio-box-caption,
#portfolio .container-xl .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 1;
  color: #e65f78;
  background: rgba(38, 40, 43, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-md .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category {
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-md .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-sm .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-md .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-lg .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-xl .portfolio-box:hover .portfolio-box-caption {
  opacity: 0;
}

/* contact */
.list-inline-item:not(:last-child) {
  margin-right: 0.2rem !important;
}

/* custom */
.cus-icon {
  width: 44px;
  height: 44px;
  margin: auto;
  background-size: cover;
  background-position: center center;
}
.cus-icon-js {
  background-image: url(/images/icons8-javascript-100.png);
}
.cus-icon-ts {
  background-image: url(/images/icons8-typescript-100.png);
}
.cus-icon-cpp {
  background-image: url(/images/icons8-cpp-100.png);
}
.cus-icon-react {
  background-image: url(/images/icons8-react-native-100.png);
}
.cus-icon-angular {
  background-image: url(/images/icons8-angularjs-100.png);
}
.cus-icon-node {
  background-image: url(/images/icons8-nodejs-100.png);
}
.cus-progress-wrapper {
  height: 5px;
}
.cus-progress {
  background-color: #26282b;
}
.cus-progress-60 {
  width: 60%;
}
.cus-progress-80 {
  width: 80%;
}
.cus-progress-100 {
  width: 100%;
}
.cus-cursor {
  width: 20px;
  height: 20px;
  color: #e65f78;
}
.cus-interest {
  width: 100px;
  height: 100px;
  margin: 20px;
  color: #e65f78;
}
.cus-contact {
  width: 50px;
  height: 50px;
  margin: 0px 20px;
  color: #26282b;
}
.cus-thumb {
  position: relative;
  padding-top: 75%;
  overflow: hidden;
}
.cus-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.cus-project-detail {
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 0.9rem;
}

/* animation */
.slide-in {
  animation-duration: 1.5s;
  animation-name: slide-in;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.slide-60 {
  animation-duration: 3s;
  animation-name: slide-60;
}
@keyframes slide-60 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
.slide-80 {
  animation-duration: 3s;
  animation-name: slide-80;
}
@keyframes slide-80 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
.slide-100 {
  animation-duration: 3s;
  animation-name: slide-100;
}
@keyframes slide-100 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.ani-rotate {
  animation-duration: 0.3s;
  animation-iteration-count: 10;
  animation-timing-function: linear;
  animation-name: ani-rotate;
}
@keyframes ani-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ani-bell {
  animation-name: ani-bell;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
  animation-timing-function: linear;
}

@keyframes ani-bell {
  0%,
  100% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(13deg);
  }
  66% {
    transform: rotate(-13deg);
  }
}
